.modal-trello-edition {
  display: none;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 900; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* Fallback color */
  /* Black w/ opacity */
  background: rgba(0, 0, 0, .6);
}

.modal-content {
  background-color: #fff;
  margin-top: 96px; /* 15% from the top and centered */
  margin-left: 12px;
  padding: 20px;
  border: 1px solid #888;
  width: 290px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.body.modal-trello-edition {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.edit-requires-button {
  margin-top: 96px; /* 15% from the top and centered */
  margin-left: 12px;
  padding: 20px;
  width: 290px;
}

.edit-required-btn {
  background: #000088;
  color: #e6e6e6;
}

.edit-requires-container {
  background-color: #fefefe;
  border: 1px solid #888;
}


