.modal-trello-edition {
  display: none;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 900; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* Fallback color */
  /* Black w/ opacity */
  background: rgba(0, 0, 0, .6);
}

.modal-content {
  margin-top: 96px; /* 15% from the top and centered */
  margin-left: 12px;
  position: absolute;
  width: 290px; /* Could be more or less, depending on screen size */
  background-color: transparent;
  border: none;
}
.modal-content-editor {
  background-color: #282d69;
  padding: 11px 12px;
  box-sizing: border-box;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.body.modal-trello-edition {
  overflow: hidden;
}

.selected-margin:hover {
  margin-right: 8px;
}

.btn-save {
  background-color: rgb(39, 199, 236);
  color: rgb(0, 0, 0);
  border: none;
  display: block;
  margin-top: 55px;
  float: left;
  height: 40px;
  width: 100%;
  font-size: 0.9em;
}

.btn-save:disabled {
  cursor: none;
  pointer-events: none;
  background-color: #75cade;
  color: gray
}

.btn-save:hover {
  background-color: #27ec48;
  cursor: pointer;
}

.close-modal-icon {
  float: right;
  float: right;
  color: rgb(39, 199, 236);
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.close-modal-icon:hover {
  color: #27ec48;
}
