[class*="btn-primary"] {
  background-color: #af1944;
  border-color: #af1944;
}

.btn-primary:hover {
  background-color: #a3153d;
  border-color: #FF195B;
}

.border-primary {
  border-color: #ff0049 !important;
}
