/* You can add global styles to this file, and also import other style files */
/**
body {

  padding-top: 10px;

}

[class*="col-"], footer, header {

  background-color: lightgreen;

  border: 2px solid black;

  border-radius: 6px;

  line-height: 40px;

  text-align: center;

}
**/
