[class*="btn-primary"] {
  background-color: #af1944;
  border-color: #af1944;
}

.btn-primary:hover {
  background-color: #a3153d;
  border-color: #f9ccd9;
}

.border-primary {
  border-color: #31bac7!important;
}
