.nav-title-link {
  color: #cf09b9;
  text-decoration: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 21px;
}

.navbar-brand {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}

.navbar-item {
  display: inline-block;
}

.nav-bar {
  background-color:#181c44;
  min-height: 4.5rem;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

.section-item {
  display: block;
  font-family: "Space Mono", monospace;
  font-size: 1.2em;
  line-height: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.section-item:hover {
  color: #cf09b9;
}

#burger-menu-toggle {
  display: none;
}

.close-icon {
  display: none;
}

.burger-menu {
  cursor: pointer;
}

.navbar-item {
  margin: 15px 20px 0 0;
}

div.nav-title {
  margin: 15px 0 0 20px;
  cursor: pointer;
}

.navbar-btn {
  background-color: #a11ec6;
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.navbar-btn:hover {
  color: black;
  background-color: #92eaff;
}



@media screen and (max-width: 720px) {

  .nav-section-container {
    display: none;
    text-align: center;
    margin-top: 30px;
  }

  #burger-menu-toggle:checked ~ .nav-section-container{
    display: block;
  }

  #burger-menu-toggle:checked ~ .burger-menu .close-icon {
    display: inline-block;
  }

  #burger-menu-toggle:checked ~ .burger-menu .open-icon {
    display: none;
  }

  .nav-bar .section-item {
    display: block;
    height: 60px;
    cursor:pointer;
  }

}

@media screen and (min-width: 721px) {
  .nav-bar .section-item {
    display: inline-block;
    cursor:pointer;

  }

  .nav-section-container {
    float: right;
    margin-right: 50px;
  }

  .burger-menu {
    display: none;
  }

  .btn-logout {
    margin-left: 30px;
  }

  .nav-bar {
    padding: 15px 20px 0;
  }

  .nav-login {
    margin: 10px 40px 0 0;
  }
}
