<nav class="nav-bar">
  <div class="navbar-item nav-title">
      <a class="nav-title-link" [routerLink]="['/']">
        Road to ninja
      </a>
  </div>
  <input class="right" type="checkbox" id="burger-menu-toggle" #toggleMenu>
  <label for="burger-menu-toggle" class="burger-menu navbar-item lateral right" *ngIf="this.isUserLogged; else login_bouton">
      <i class="fa fa-bars fa-3x open-icon"></i>
      <i class="fas fa-times fa-3x close-icon"></i>
  </label>
  <!-- sections -->
  <div class="nav-section-container" *ngIf="this.isUserLogged">
    <a class="section-item" (click)="redirectToUserProjects()"> Projects </a>
    <a class="section-item btn-logout" href="" (click)="onLogout()"> Logout </a>
  </div>
</nav>

<!-- logout bouton template -->
<ng-template #login_bouton>
  <div class="navbar-item right nav-login">
    <button
      type="button"
      class="navbar-btn"
      (click)="onLogin()"
    >
      Log in
    </button>
  </div>
</ng-template>
