<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Road to ninja </a>
    </div>
    <app-filter-projects *ngIf="isUserLoggedIn()"> </app-filter-projects>
    <app-button-project-add  *ngIf="isUserLoggedIn()"></app-button-project-add>
    <div class="profile-actions">
      <button type="button" class="btn btn-default navbar-btn"
              (click)="onRedirectToLogin()" *ngIf="!isUserLoggedIn(); else logout">Login
      </button>
    </div>
    <ng-template #logout>
      <button type="button" class="btn btn-default navbar-btn"
              (click)="onLogout()"> logout </button>
    </ng-template>
  </div>
</nav>

