<div class="card border-primary" (mouseenter)="showUpdateButton()"
     (mouseleave)="hiddeUpdateButton()">
  <div class="card-body">
    <div *ngIf="isUpdateActivated && isUserLogged">
      <button class="float-right" (click)="showEditModal(project, $event.target)"> modifier</button>
    </div>
    <h5 class="card-title">{{ project.title }}</h5>
    <p class="card-text">{{ project.description }}</p>
    <p class="card-text"> status: {{ project.status }}</p>
    <div class="form-group">
      <a target="_blank" rel="noopener" href="{{ project.data }}"> sources </a>
    </div>
    <div class="form-group required-list">
      <button class="btn btn-light toggle-requires-btn" type="submit"
              (click)="showRequiredProjects()">
        Required projects
      </button>
      <template #currentUserRequiredProjectsTemplate>
      </template>
    </div>
    <div class="status-action" *ngIf="isUserLogged">
      <button *ngIf="isProjectInProgressStatus(project)"
              type="button"
              class="float-right btn btn-outline-success"  (click)="finishProjectWork(project)">
        finish this !
      </button>
      <button *ngIf="isProjectNotStartedStatus(project)"
              type="button"
              class="float-right btn btn-outline-secondary" (click)="startProjectWork(project)">
        Start work
      </button>
    </div>
  </div>
</div>
