<div class="component">
  <div
    class="box-container"
    (mouseenter)="showUpdateButton()"
    (mouseleave)="hiddeUpdateButton()"
  >
    <div class="box-body">
      <div class="btn-edit-box" *ngIf="isUserLogged">
        <span
          class=""
          (click)="showEditModal(project, $event.target)"
        >
          <i class="fas fa-edit fa-lg btn-edit-icon"></i>
        </span>
      </div>
      <span class="box-title">{{ project.title }}</span>
      <span class="box-description">{{ project.description }}</span>
      <span class="box-link">
          <a title="{{ project.data }}" ref="noopener" target="_blank" href="{{ project.data }}">
              <i class="fas fa-link"></i>
          </a>
      </span>
      <span
        class="badge-status"
        [ngClass]="{
          'badge-start': isProjectInProgressStatus(project),
          'badge-finished': isProjectFinishedStatus(project),
          'badge-progress': isProjectNotStartedStatus(project)
        }"
      >
        {{ project.status }}
      </span>
        <button
          *ngIf="isUserLogged && isProjectInProgressStatus(project)"
          type="button"
          class="btn-change-status"
          (click)="finishProjectWork(project)"
        >
          finish this !
        </button>
        <button
          *ngIf="isUserLogged && isProjectNotStartedStatus(project)"
          type="button"
          class="btn-change-status"
          (click)="startProjectWork(project)"
        >
          Start work
        </button>
    </div>
  </div>
</div>
