<div [formGroup]="projectForm" class="editor-title">
  <input autofocus placeholder="title (required)" [(ngModel)]="projectBeingUpdated.title" class="editior-input"
         formControlName="title" type="text" id="title"
         required value="{{ projectBeingUpdated.title }}">

</div>
<div class="editor-description">
  <textarea class="editior-input" placeholder="description"
            [(ngModel)]="projectBeingUpdated.description"></textarea>
</div>
<div class="editor-source">
  <input class="editior-input" placeholder="sources/http" type="text" id="sources" [(ngModel)]="projectBeingUpdated.data">
</div>

<div *ngIf="title.invalid && (title.dirty || title.touched)"
class="form-errors">
  <div *ngIf="title.errors.required">
    <span class="error-message">
        <i class="fas fa-exclamation-triangle fa-sm"></i>
        Title is required. Please fill in this field
    </span>
  </div>
</div>
