<label for="project-name"> project name:  </label> <input type="text" id="project-name" [(ngModel)]="projectBeingUpdated.title"> <BR>
<label for="description"> description: </label> <BR> <textarea id="description" [(ngModel)]="projectBeingUpdated.description"></textarea> <BR>
<label for="sources"> sources:  </label> <input type="text" id="sources" [(ngModel)]="projectBeingUpdated.data" >

<label for="sources"> required projects:  </label>
<p *ngIf="!hasRequiredProjects(projectBeingUpdated); else requiresList">
  There's no required projects yet
</p>

<ng-template #requiresList>
  <ul *ngFor="let project of projectBeingUpdated.requires">
    <li> {{ project.title }}  --- {{ project.status }}</li>
  </ul>
</ng-template>

