<div class="component">
  <span class="form-title"> Log in </span>
  <div class="form-error-container">
    <span *ngIf="errors.length > 0" class="form-error-message">
      <span *ngFor="let error of errors">
        <li class="form-error-message-item">
          <i class="fas fa-exclamation-triangle fa-sm"></i>
          {{ error }}
        </li>
      </span>
    </span>
  </div>
  <div>
    <div class="form-set">
      <label for="username">username</label>
      <input type="text" id="username" [(ngModel)]="username" class="form-field" autofocus> <BR>
    </div>
    <div class="form-set">
      <label for="password">password</label>
      <input type="password" id="password" [(ngModel)]="password" class="form-field"> <BR>
    </div>
    <div class="form-set">
      <button type="button" (click)="onSubmitLogin()" class="btn-sign-in">
        Sign in
      </button>
    </div>
  </div>
</div>
